.main-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  align-items: center;
  justify-items: center;
  margin: 2rem 5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 8px 8px 12px #555;
}

.image {
  text-align: center;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.main-view-description {
  font-size: 1rem;
  padding: 0 1rem;
}

@media (min-width: 48rem) {
  .main-view {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    text-align: left;
  }

  /*.main-view img {
    max-width: 25rem;
  }*/

  /*.main-view-text {
    font-size: 1.2rem;
  }*/
}

/* 1024px */
@media (min-width: 64rem) {
  /*.main-view img {
    max-width: 500px;
  }*/

  .image {
    text-align: center;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .main-view-text {
    font-size: 1.3rem;
  }
}

/* 1280px */
@media (min-width: 80rem) {
  .image {
    text-align: center;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  /*.main-view img {
    max-width: 37.5rem;
  }*/

  /*.main-view-description {
    font-size: 1.4rem;
  }*/
}

/* 1440px */
@media (min-width: 90rem) {
  .image {
    text-align: center;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  /*.main-view img {
    max-width: 43.75rem;
  }*/

  /*.main-view-description {
    font-size: 1.5rem;
  }*/
}
